@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content p {
    margin-bottom: 0.8rem;
}

.post-content h1 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Merriweather';
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Merriweather';
    margin: 1.5rem 0;
}

.post-content h3 {
    font-size: 1.4rem;
    font-family: 'Merriweather';
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.post-content .ql-align-center {
    text-align: center;
    align-items: center;
}

.post-content .ql-align-right {
    text-align: right;
    align-items: right;
}

.post-content .ql-align-justify {
    text-align: justify;
}

.post-content blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 20px; /* hoặc 2em */
    border-left: 5px solid grey;
    font-size: 18px;
    font-style: italic;
}

.post-content .ql-size-small {
    font-size: small;
}

.post-content .ql-size-large {
    font-size: large;
}

.post-content .ql-size-huge {
    font-size: x-large;
}

.dark .post-content a {
    color: red;
}

.active-link {
    color: #009fcb;
}

.ql-editor iframe.ql-video {
    width: 100%; /* Set a maximum width */
    height: 500px;     /* Maintain aspect ratio */
    
}

.post-content iframe.ql-video {
  width: 100%; /* Set a maximum width */
  height: 500px;     /* Maintain aspect ratio */
}

@media only screen and (max-width:366px) {
    .header-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }

}

@media only screen and (max-width: 471px) {
    .thumbnail {
        display: flex;
        flex-direction: column;
    }

    .thumbnail-upload {
        width: 100%;
    }
}

@media only screen and (max-width: 306px) {
    .footer-icons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
